* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif
}


body {
    margin: 0;
    padding: 0;
    background-image: url('../pictures/background2.png');
    background-size: contain;
    background-blend-mode:hard-light;
    
}

.keys {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.4);
}

.key {
    border: 0.2rem solid black;
    width: calc(100%/9);
    margin:0 0.4rem;
    padding: 0.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
}

kbd {
    font-size: 2rem;
    color: white;
}


span {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: gold
}

@media (min-width: 720px) {
    .key {
        width: 10rem;
    }

    kbd {
        font-size: 4rem;
    }

    span {
        font-size: 1.5rem;
    }
}

.active {
    border: 1px solid gold;
}