html {
    font-size: 10px;
}


body {
    margin: 0;
    padding: 0;
    background-image: url('../pctures/background.jpg');
    background-size: cover;
    
}

.keys {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.key {
    border: 0.2rem solid black;
    width: calc(100%/9);
    margin:0 0.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

kbd {
    font-size: 2rem;

}

@media (min-width: 720px) {
    .key {
        width: 10rem
    }

    kbd {
        font-size: 4rem;
    }

    span {
        font-size: 2rem;
    }
}

span {
    font-size: 0.7rem;
    text-transform: uppercase;
}